<div class="row">
    <div class="col-lg-12 text-center heading">
        Quiz Maker
    </div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 pd-0">
        <select id="categorySelect" class="dropdownCls">
            <option value="" disabled selected>Select a category</option>
            <option>test1</option>
            <option>test2</option>
        </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 pd-0">
        <select id="difficultySelect" class="dropdownCls">
            <option value="" disabled selected>Select difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
    <div class="col-lg-2 pd-0">
        <button id="createBtn">Create</button>
    </div>
    <div class="col-lg-1"></div>
</div>