.heading {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdownCls {
    width: 100%;
    padding: 6px;
}

#createBtn {
    padding: 4px 10px;
}

.pd-0 {
    padding: 0px;
}


.answersGroup {
    float: left;
    margin: 0 5px 0 0;
    width: 200px;
    height: 40px;
    position: relative;
}

.answersGroup label,
.answersGroup input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.answersGroup input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.answersGroup input[type="radio"]:checked+label,
.Checked+label {
    background: green;
    color: white;
}

.answersGroup label {
    padding: 5px;
    border: 1px solid green;
    cursor: pointer;
    z-index: 90;
    border-radius: 6px;
    color: green;
    font-weight: normal;
}

.answersGroup label:hover,
.answersGroup input:hover {
    background: green;
    color: white;
}

.pdb-20 {
    padding-bottom: 20px;
}
.quesCls {
    padding-top: 10px;
    padding-bottom: 10px;
}
.errorCls {
    color: red;
}
.buttonCls {
    border: none;
    background: gray;
    padding: 8px 10px;
    width: 50%;
    border-radius: 6px;
    color: white;
}
.text-center {
    text-align: center;
}
.mr-0 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}