<div class="row mr-0">
    <div class="col-lg-12 text-center heading">
        Quiz Maker
    </div>
</div>
<div class="row pdb-20 mr-0">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 col-md-3 pd-0">
        <select id="categorySelect" class="dropdownCls" [(ngModel)]="selectedCategory">
            <option value="" disabled selected>Select a category</option>
            <option *ngFor="let option of categoriesData" value="{{option.id}}">{{option.name}}</option>
        </select>
        <div *ngIf="isSubmit && selectedCategory== ''" class="errorCls">Please Select Category</div>
    </div>
    <div class="col-lg-3 col-md-3 pd-0">
        <select id="difficultySelect" class="dropdownCls" [(ngModel)]="selectedDifficulty">
            <option value="" disabled selected>Select difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <div *ngIf="isSubmit && selectedDifficulty== ''" class="errorCls">Please Select difficulty</div>
    </div>
    <div class="col-lg-2 pd-0">
        <button id="createBtn" (click)="createQuiz()">Create</button>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mr-0" >
    <div class="col-lg-3"></div>
    <div class="col-lg-8 col-md-8 pd-0">
        <div *ngFor="let obj of quizQuestions; index as i">
            <div class="quesCls">{{obj.question}}</div>
            <div>
                <form>
                    <fieldset id="group{{i+1}}">
                        <div class="answersGroup" *ngFor="let answer of obj.allOptions">
                            <input type="radio" value="{{answer}}" id="{{answer}}" name="group{{i+1}}" [(ngModel)]="selectedOption[i]">
                            <label for="{{answer}}">{{answer}}</label>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
        
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mr-0">
    <div class="col-lg-3"></div>
    <div class="col-lg-8 col-md-8 pd-0 text-center quesCls">
        <div *ngIf="loader"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
        <button *ngIf="checkOptionSelection()" (click)="submit()" class="buttonCls">Submit</button>
    </div>
    <div class="col-lg-1"></div>
</div>