.pd-0 {
    padding: 0px;
}

.heading {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.answersGroup {
    float: left;
    margin: 0 5px 0 0;
    width: 200px;
    height: 40px;
    position: relative;
}

.answersGroup label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.correct > label {
    background: green;
    color: white !important;
}

.incorrect {
    background: red;
    color: white !important;
}

.answersGroup label {
    padding: 5px;
    border: 1px solid green;
    z-index: 90;
    border-radius: 6px;
    color: green;
    font-weight: normal;
}

.pdb-20 {
    padding-bottom: 20px;
}
.quesCls {
    padding-top: 10px;
    padding-bottom: 10px;
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}

.resultStatus {
    margin-top: 15px;
    padding: 6px 10px;
    font-weight: bold;
}

.pdb-10 {
    padding-top: 15px;
}